/*-----Global-----*/
* {
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: bold;
}
html {
    font-family: 'Julius Sans One';
}
body {
    width: 100%;
    background-color: #F98B88;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 90%;
    margin: 0 auto;    
}
.clearfix::after {
    content:"";
    display: table;
}
h1 {
    color:rebeccapurple;
    font-size: 40px;
    text-shadow: 2px 2px #FF1493;
}
p {
    font-size: : 150px;
    color: rebeccapurple;
    font-weight: bold;
}
ul {
    list-style: none;
    margin-top: 30px;
}
li {
    color: rebeccapurple;
    font-size: 30px;
    margin-bottom: 20px;
}
/*-----nav-----*/
nav {
    height: 100px;
    line-height: 100px;
}
nav a {
    color: rebeccapurple;
    text-decoration: none;
}
nav a img {
    vertical-align: middle;
}
nav a:nth-child(2) {
    position: fixed;
    float: right;
    right: 5%;
    top: 50px;
}
/*-----header-----*/
header {
    margin: 100px 0 200px 0;
    text-align: center;
}
header p {
    width: 45%;
    margin: 30px auto 0 auto;
}
header a {
    color: #FF4A5E;
}
/*-----work-----*/
.work{
    text-align: center;
    width: 100%;
}
.work a img {
    margin: 1%;
    width: 45%;
}
/*-----whatIDO-----*/
.whatIDo {
    text-align: center;
    margin: 100px 0 200px 0;
    position: relative;
}
.skills{
    float: right
    postion: relative;
    left: -50%;
    text-align: left;
}
 .skills-box{
        font-size: 17px;
        color: rebeccapurple;
        background-color: #F98B88;
        margin: 30px 0;
        text-align: center;
        width: inherit;
        height: 120px;
        line-height: 60px;
        -webkit-box-shadow: 13px 13px 27px 24px rgba(237,106,104,0.66);
-moz-box-shadow: 13px 13px 27px 24px rgba(237,106,104,0.66);
box-shadow: 13px 13px 27px 24px rgba(237,106,104,0.66);
}
.whatIDo h1 {
    color: #13A3FD;
}
/*-----work2-----*/
.work2 {
    width: 100%;
    text-align: center;
}
.work2 a img {
    margin: 1%;
    width: 92%;
}
/*-----footer-----*/
footer p {
    color: lightpink;
}
/*-----Responsive-----*/

@media only screen and (max-width: 991px) {
    header p {
        width: 100%;
    }
    .work a img {
        margin: 2%;
        width: 96%;
    }
    .work2 a img {
        margin 2%;
        width: 96%;
    }
}
@media only screen and (max-width: 768) {
    header {
        width: 96&;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    .whatIDo {
        background-color: white;
        text-align: left;
        width: 96%;
        margin: 70px auto 100px auto;
    }
    .iAm {
        visibility: hidden;
    }
    footer {
        text-align: left;
        width: 90%
        margin: 60 px auto;
    }
}
@media screen and (min-width:768px) {
    h1 { font-size:60px; }
}
@media screen and (min-width:991px) {
    h1 { font-size:80px; }
}

@media screen and (min-width:1120px) {
    h1 { font-size:150px; }
}
@media screen and (min-width:768px) {
    .skills-box { font-size:25px; }

@media screen and (min-width:991px) {
    .skills-box { font-size:30px; }
}
    
@media screen and (min-width:1120px) {
    .skills-box { font-size:50px; }